body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: transparent;
  }

  #navname {
    padding-top: 5px;
  }
  
  /* 'mark gobriel' in the top left */
  #navname a {
    float: left;
    display: block;
    font-family: Inter;
    font-weight: 900;
    color: #3B3B35;
    text-align: center;
    padding-left: 25px;
    padding-top: 15px;
    text-decoration: none;
    font-size: 17px;
    float: left;
    transition: all .4s;

  }

  #navname a:hover {
    transform: scale(1.2);
    transition: all .4s;
  }

  #navbtns, #letstalk {
    float: right;
    padding-left: 20px;
    padding-top: 0px;
    
  }

  /* mission, about, skills, projects */
  #navbtns a{
    float: left;
    display: block;
    font-family: Inter;
    color: #3B3B35;
    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: none;
    font-size: 17px;
    transition: all .4s;
  }

  #letstalk a{
    background-color:#3B3B35;
    border-radius: 10px;
    color: #EDE3D1;
    
  }
  
  #navbtns a:hover {
    transform: scale(1.1);
    transition: all .4s;
  }
  
  #navbtns a.active {
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

#repeated-name h1 {
    font-family: Inter;
    font-weight: 900;
    color:#3B3B35;
    
}